header{
    width: 100%;
    align-items: center;
    .menu{
        background-color:$colorprincipal;
        .bordeicono{
            border-color:$colormenu;
         }
        .nombreemp{
            color:$colormenu;
            text-decoration: none;
            &:hover{
                background-color: $colormenu;
                color: black;
                border-bottom:$colormenu;
                border-radius: 1px;
            }
        }
        ul{
            list-style-type: none;
            a{
                color:$colormenu;
                text-decoration: none;
                &:hover{
                    background-color: $colormenu;
                    color: black;
                    border-bottom:$colormenu;
                    border-radius: 1px;
                }
            }
        }
    }
 }